@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    color: #fff;

}

button {
    cursor: pointer;
    outline: none;
    border: none;
}


.body__container {
    max-width: 360px;
    margin: 0 auto;
    height: 100vh;

}

.start__screen {
    padding: 25px 25px 0;
    background-image: url(./assets/images/start.jpg);
    background-size: cover;
    background-position: center;
}

.hide {
    display: none;
}

.grey {
    filter: grayscale(1);
}

.header {
    height: 5%;
    display: flex;
    justify-content: right;
}

.header__settings {
    background-image: url(./assets/images/settings.png);
    height: 35px;
    width: 35px;
    background-color: transparent;
    position: relative;
}

.start__main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 87vh;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    padding-bottom: 32px;
}

.quiz {
    margin-bottom: 19%;
    text-align: center;
}

.quiz__artist,
.quiz__pictures {
    font-family: 'Montserrat';
    background: transparent;
    font-size: 24px;
    color: #fff;
    border: 1px solid #FFFFFF;
    border-radius: 56px;
    padding: 10px 64px;
    white-space: nowrap;
}

.quiz__artist {
    margin-bottom: 26px;
    padding: 10px 81px;
}

.footer {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.settings__screen {
    /* display: none; */
    background-color: #000;
    padding: 25px 25px 0;
    font-size: 24px;
    text-align: center;
    position: fixed;
    top: 0;
    left: -6000px;
    transition: all 1s;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.settings__back {
    background-image: url(./assets/images/arrow.png);
    color: #fff;
    width: 10px;
    height: 20px;
    background-color: transparent;
}

.settings__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    font-size: 24px;
}

.settings__subtitle {
    font-weight: 700;
    padding-bottom: 12px;
}


.time-answer__block,
.time-game__block {
    padding-bottom: 96px;
}

#myinput {
    border: solid 1px transparent;
    border-radius: 8px;
    height: 4px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    margin-bottom: 25px;
}

input[type='range']::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 15px;
    cursor: ew-resize;
    background: #fff;
    border-radius: 50%;
    /* box-shadow: -80px 0 0 80px #43e5f7; */
}

.volume__off {
    background-image: url(./assets/images/volume-on.png);
    width: 23px;
    height: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.volume__block {
    padding-bottom: 30px;
}

.volume__off:active {
    transform: scale(1.2);
}

/* .volume__switcher {
background-image: url(./assets/images/mute.png);
    width: 33px;
    height: 36px;
    background-color: transparent;
background-repeat: no-repeat;
} */

.volume__icons {
    display: flex;
    justify-content: space-between;
}

.volume__on {
    background-image: url(./assets/images/volume-on.png);
    width: 16px;
    height: 16px;
    background-color: transparent;
}

.time-switcher__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-switcher {
    padding-right: 15px;
}

.time-game__title {
    padding-bottom: 21px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 14px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: -6px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    height: 24px;
    width: 48px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #FFBCA2;
}

input:focus+.slider {
    box-shadow: 0 0 1px #FFBCA2;
}

input:checked+.slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.time-answer__counter {
    display: flex;
    justify-content: center;
}

.time-sign {

    width: 33px;
    height: 33px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: transparent;
}

.time__remove {
    background-image: url(./assets/images/minus.png);
}

.time__add {
    background-image: url(./assets/images/plus.png);
}

.time__count {
    background: transparent;
    color: white;
    border: none;
    font-family: 'Montserrat';
    font-size: 24px;
    text-align: center;
}

.time-answer__title {
    padding-bottom: 25px;
}

.settings__default,
.settings__save {
    font-size: 24px;
    padding: 10px 33px;
    border-radius: 56px;

}

.settings__default {
    border: 1px solid #FFFFFF;

    margin-right: 16px;
    background-color: transparent;
    color: #fff;
}

.settings__save {
    background-color: #FFBCA2;
    padding: 10px 44px;
}

.settings__buttons {
    padding-bottom: 30px;
}

/* ARTISTS SCREEN */
.artists__screen,
.pictures__screen {
    background-color: #000;
}

.artists__main,
.pictures__main {
    padding: 22px 15px 0 15px;
}

.artists__settings,
.pictures__settings {
    background-image: url(./assets/images/settings.png);
    height: 35px;
    width: 35px;
    background-color: transparent;
    /* position: relative; */
}

.artists__header,
.pictures__header {
    display: flex;
    justify-content: space-between;
}

.artists__title,
.pictures__title {
    font-size: 24px;
    padding: 25px 0 51px 0;
}

.artist__categories,
.pictures__categories {
    display: flex;
    flex-wrap: wrap;
}

.artist__category,
.pictures__category {
    width: calc(100% / 2.1);
    height: 190px;
    margin-right: 0.8rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.artist__category:nth-child(2n),
.pictures__category:nth-child(2n) {
    margin-right: 0;
}

.category__image {
    width: 155px;
    height: 164px;
    border-radius: 20px;
}

.category__score {
    margin-left: auto;
    margin-right: 0;
}

.navbar {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 15px 15px 0 0;
    background-color: #000;
    padding: 14px 45px;
    transition: all 1s;
    z-index: 2;
    justify-content: center;
}

.navbar__button {
    text-decoration: none;
    color: #fff;
}

.navbar__container {
    text-align: center;
}

/* ЭКРАН ВОПРОСОВ'*/
.question__screen {
    background-color: black;
}

.close {
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 19px;
    height: 19px;
    color: #fff;
}

.close:before,
.close:after {
    position: absolute;
    left: 23px;
    content: ' ';
    height: 19px;
    width: 2px;
    background-color: #fff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.progress__time {
    font-size: 14px;
}

.quiestion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.question__container {
    padding: 22px 15px 0 15px;
}

.question__title {
    padding: 32px 0 7px 0;
}

/* #progress {
    background: orange;
    height: 100%;
    width: 0;
    text-align: right;
    font: bold 12px arial;
    border-right: 1px silver solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    line-height: 30px;
    color: #444;
    -webkit-transition: width 5s linear;
    /* For Safari 3.1 to 6.0 */
    /* transition: width 5s linear;
} */

/* /* #progressContainer {
    width: 100%;
    height: 3px;
    border: 1px silver solid;
    border-radius: 4px;
    background: white;
} */  

.progressbar {
    width: 80%;
    margin: 25px 0;
    border: solid 1px silver;
    border-radius: 4px;
    height: 3px;
  }
  .progressbar .inner {
    height: 2px;
    animation: progressbar-countdown;
    /* Placeholder, this will be updated using javascript */
    animation-duration: 40s;
    /* We stop in the end */
    animation-iteration-count: 1;
    /* Stay on pause when the animation is finished finished */
    animation-fill-mode: forwards;
    /* We start paused, we start the animation using javascript */
    animation-play-state: paused;
    /* We want a linear animation, ease-out is standard */
    animation-timing-function: linear;
  }
  @keyframes progressbar-countdown {
    0% {
      width: 100%;
      background: orange;
    }
    100% {
      width: 0%;
      background: #fff;
    }
  }

.question__title {
    font-size: 20px;
    letter-spacing: -0.4px;
    text-align: center;
}


.question__image {
    width: 328px;
    height: 294px;
    border-radius: 15px;
}

.question__answers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 12px;
    padding-top: 21px;
    padding-bottom: 52px;
}

.answer {
    font-size: 12px;
    padding: 13px 13px;
    border-radius: 24px;
    border: 1px solid #fff;
    white-space: nowrap;
    width: 158px;
    text-align: center;


}

.answer__popup,
.score__popup {
    font-size: 24px;
    text-align: center;
    position: fixed;
    top: 0;
    left: -6000px;
    transition: all 1s;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(3, 3, 3, 0.9);
    padding-top: 20%;

}

.answer__popup_container,
.score__popup_container {
    padding: 25px;
    background-color: #fff;
}

.score__popup_container {
    border-radius: 15px;
}

.score__popup {
    padding-top: 31%;
}

.answer__image {
    width: 279px;
    height: 260px;
    border-radius: 15px;
    position: relative;
}

.answer__name,
.answer__author {
    color: #000;
}

.answer__name {
    padding: 15px 0 0 0;
}

.answer__author {

    font-size: 15px;
    font-style: italic;
    padding-bottom: 22px;
}

.answer__next {
    background: #FFBCA2;
    color: #000;
    width: 80%;
    border-radius: 50px;
    padding: 11px 0;
    font-family: 'Montserrat';
}

.answer__icon {
    position: absolute;
    left: 55px;
    top: 301px;
    width: 40px;
    height: 40px;
}

.end__score {
    color: black;
}

.end__image {
    width: 113px;
}

.end__text {
    color: black;
    font-weight: 700;
    padding: 15px 0;
}

.end__score {
    font-size: 59px;
    font-weight: 700;
}

.score__butons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.end__home,
.end__next {
    color: #000;
    width: 40%;
    border-radius: 50px;
    padding: 11px 0;
    background-color: transparent;
    font-family: 'Montserrat';
    border: 1px solid black
}

.end__home {
    margin-right: 17px;
}

.end__next {
    background-color: #FFBCA2;
    border-color: #FFBCA2;
    ;
}


.question__pictures {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 27%;
}

.question__picture {
    width: calc(100% / 2.1);
    height: 163px;
    margin-right: 0.8rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 35px;
}

.question__picture:nth-child(2n) {
    margin-right: 0;
}

.category__results {
    background-color: #FFBCA2;
    color: black;
    width: 100%;
    /* align-items: center; */
    height: 15%;
    text-align: center;
    border-radius: 0 0 20px 20px;
    bottom: 28px;
    position: relative;
}

/* @media (pointer:coarse) {
    .category__image:hover~.category__results {
        display: block;
        position: absolute;
        bottom: 0;
    }
} */

.score__images {
    display: flex;
    flex-wrap: wrap;
}

.score__item {

    margin-right: 0.8rem;
    margin-bottom: 1rem;
    /* display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2; */
    width: 155px;
    height: 164px;
    
}

.score__item:nth-child(2n) {
    margin-right: 0;
}

.score__screen {
    background-color: black;
    padding: 22px 15px 0 15px;
}

.score__header {
    display: flex;
    flex-direction: column;
}

.score__logo {
    max-width: 166px;
    padding-bottom: 50px;
}

.score__back {
    padding-bottom: 30px;
    background-repeat: no-repeat;
}

.score__category {
    font-size: 33px;
    font-weight: 500;
}

.image__info {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    text-align: center;
        background-color: #FFBCA2;
    width: 100%;
    border-radius: 0 0 20px 20px;
}

.score__item {
    position: relative;
}

.score__image {
    width: 155px;
    height: 164px;
    border-radius: 20px;
}

.header__time {
    display: flex;
    width: 88%;
    justify-content: center;
    align-items: center;
}

.progress__time {
        padding-left: 7%;
        width: 50px;
}